In [1]:
#pip install pandas
import pandas as pd

In [2]:
employees_old = r"C:\Users\Narasimha\Desktop\ai_recruiting_infrastructure_agent2\scrapers\data\raw\employees_past_week.csv"
employees_new=r"C:\Users\Narasimha\Desktop\ai_recruiting_infrastructure_agent2\scrapers\data\raw\employees_present_week.csv"

In [4]:
old_df = pd.read_csv(employees_old, index_col=False)
# Merge into last column
old_df.iloc[:, 4] = old_df.iloc[:, 4:].astype(str).apply(lambda x: ",".join(x.dropna()), axis=1)

# Drop all columns after the 5th
#old_df = old_df.iloc[:, :5]

# Rename
old_df.columns = ["email_id", "name", "role", "company_name", "company_location"]

print(old_df)

                   email_id            name                        role  \
0         john.doe@acme.com        John Doe           Software Engineer
1     jane.smith@globex.com      Jane Smith             Product Manager
2      robert.j@initech.com  Robert Johnson                Data Analyst
3      emily.c@umbrella.com     Emily Clark          Marketing Director
4       michael.b@hooli.com   Michael Brown                         CTO
..                      ...             ...                         ...
258   damon.j@robostack.com   Damon Jenkins  Robotics Controls Engineer
259   callie.p@bluestar.com   Callie Parker                 Tech Writer
260    matthew.s@xensys.com    Matthew Shaw                Backend Lead
261    ariel.r@brightai.com     Ariel Reyes                  AI Trainer
262  eduardo.k@aeroflow.com    Eduardo King          Operations Manager

         company_name company_location
0    ACME Corporation    San Francisco
1         Globex Inc.         New York
2             Initech           Boston
3       Umbrella Corp           London
4               Hooli        Palo Alto
..                ...              ...
258         RoboStack            Tokyo
259          BlueStar         New York
260            XenSys          Chicago
261     BrightAI Labs         San Jose
262          AeroFlow          Toronto

[263 rows x 5 columns]

C:\Users\Narasimha\AppData\Local\Temp\ipykernel_12680\76483817.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  old_df = pd.read_csv(employees_old, index_col=False)

In [5]:
new_df = pd.read_csv(employees_new, index_col=False)
new_df.iloc[:, 4] = new_df.iloc[:, 4:].astype(str).apply(lambda x: ",".join(x.dropna()), axis=1)

# Drop all columns after the 5th
#new_df = new_df.iloc[:, :5]

# Rename
new_df.columns = ["email_id", "name", "role", "company_name", "company_location"]

print(new_df)

                   email_id            name                        role  \
0         john.doe@acme.com        John Doe           Software Engineer
1     jane.smith@globex.com      Jane Smith             Product Manager
2      robert.j@initech.com  Robert Johnson                Data Analyst
3      emily.c@umbrella.com     Emily Clark          Marketing Director
4       michael.b@hooli.com   Michael Brown                         CTO
..                      ...             ...                         ...
258   damon.j@robostack.com   Damon Jenkins  Robotics Controls Engineer
259   callie.p@bluestar.com   Callie Parker                 Tech Writer
260    matthew.s@xensys.com    Matthew Shaw                Backend Lead
261    ariel.r@brightai.com     Ariel Reyes                  AI Trainer
262  eduardo.k@aeroflow.com    Eduardo King          Operations Manager

         company_name company_location
0    ACME Corporation    San Francisco
1         Globex Inc.         New York
2             Initech           Boston
3       Umbrella Corp           London
4               Hooli        Palo Alto
..                ...              ...
258         RoboStack            Tokyo
259          BlueStar         New York
260            XenSys          Chicago
261     BrightAI Labs         San Jose
262          AeroFlow          Toronto

[263 rows x 5 columns]

C:\Users\Narasimha\AppData\Local\Temp\ipykernel_12680\404785411.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  new_df = pd.read_csv(employees_new, index_col=False)

In [6]:
merged = old_df.merge(
    new_df,
    on="email_id",
    how="inner",
    suffixes=("_old","_new"),
)

In [7]:
changed_rows=merged[(merged.filter(like="_old")!=merged.filter(like="_new").values).any(axis=1)]

In [8]:
print(changed_rows)

                   email_id         name_old                       role_old  \
16         chris.p@apex.com     Chris Parker          IT Support Specialist
19     sophia.t@everest.com    Sophia Turner               Business Analyst
21    victoria.n@lumina.com  Victoria Nelson               Product Designer
22        mark.d@fusion.com       Mark Davis              Robotics Engineer
23      paula.s@quantum.com    Paula Sanders      Machine Learning Engineer
26       brian.c@altair.com     Brian Cooper          Cybersecurity Analyst
30      rachel.p@cypher.com     Rachel Patel           AI Ethics Specialist
47     hailey.d@monarch.com   Hailey Daniels                Product Analyst
50        colin.b@astro.com     Colin Brooks      Cloud Security Specialist
55       ariana.l@polar.com     Ariana Lopez                    Design Lead
65    sienna.b@crescent.com      Sienna Bell                Operations Lead
84     logan.k@serenity.com        Logan Kim             Healthcare Analyst
123       laura.d@avant.com     Laura Dawson  Business Intelligence Analyst
124    julian.h@maxwell.com    Julian Harris             Investment Analyst
138  tristan.h@datacore.com    Tristan Hayes   Data Infrastructure Engineer

        company_name_old company_location_old         name_new  \
16        Apex Solutions               Dublin     Chris Parker
19    Everest Consulting               Zurich    Sophia Turner
21        Lumina Designs             New York  Victoria Nelson
22       Fusion Robotics                Tokyo       Mark Davis
23            Quantum AI            Singapore    Paula Sanders
26       Altair Security              Chicago     Brian Cooper
30             Cypher AI               London     Rachel Patel
47    Monarch Industries               London   Hailey Daniels
50           Astro Cloud              Chicago     Colin Brooks
55         Polar Studios              Toronto     Ariana Lopez
65    Crescent Solutions             New York      Sienna Bell
84       Serenity Health               London        Logan Kim
123             Avant BI               London     Laura Dawson
124  Maxwell Investments              Toronto    Julian Harris
138             DataCore               Boston    Tristan Hayes

                          role_new     company_name_new company_location_new
16           IT Support Specialist        APEX Networks               Dublin
19                Business Analyst     Everest Partners               Zurich
21                Product Designer        Lumina Brands             New York
22               Robotics Engineer  Fusion Technologies                Tokyo
23       Machine Learning Engineer  Quantum Innovations            Singapore
26           Cybersecurity Analyst        Altair Shield              Chicago
30            AI Ethics Specialist  Cypher Intelligence               London
47                 Product Analyst       Monarch Global               London
50       Cloud Security Specialist         Astro Secure              Chicago
55                     Design Lead       Polar Creative              Toronto
65                 Operations Lead      Crescent Global             New York
84              Healthcare Analyst      Serenity Global               London
123  Business Intelligence Analyst           Avant Data               London
124          Investment Strategist  Maxwell Investments              Toronto
138        Data Solutions Engineer             DataCore               Boston

In [9]:
changed_rows["status"] = changed_rows.apply(
    lambda row: "company changed"
    if row["company_name_old"] != row["company_name_new"]
    else "role changed",
    axis=1
)

C:\Users\Narasimha\AppData\Local\Temp\ipykernel_12680\3950809878.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  changed_rows["status"] = changed_rows.apply(

In [10]:
changed_rows["company"] = (
    changed_rows["company_name_old"]
    + " (" + changed_rows["company_location_old"] + ")"
)

C:\Users\Narasimha\AppData\Local\Temp\ipykernel_12680\197837360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  changed_rows["company"] = (

In [11]:
new_dataset = changed_rows[
    ["email_id", "company", "role_old", "status"]
]

In [12]:
print(new_dataset)

                   email_id                        company  \
16         chris.p@apex.com        Apex Solutions (Dublin)
19     sophia.t@everest.com    Everest Consulting (Zurich)
21    victoria.n@lumina.com      Lumina Designs (New York)
22        mark.d@fusion.com        Fusion Robotics (Tokyo)
23      paula.s@quantum.com         Quantum AI (Singapore)
26       brian.c@altair.com      Altair Security (Chicago)
30      rachel.p@cypher.com             Cypher AI (London)
47     hailey.d@monarch.com    Monarch Industries (London)
50        colin.b@astro.com          Astro Cloud (Chicago)
55       ariana.l@polar.com        Polar Studios (Toronto)
65    sienna.b@crescent.com  Crescent Solutions (New York)
84     logan.k@serenity.com       Serenity Health (London)
123       laura.d@avant.com              Avant BI (London)
124    julian.h@maxwell.com  Maxwell Investments (Toronto)
138  tristan.h@datacore.com              DataCore (Boston)

                          role_old           status
16           IT Support Specialist  company changed
19                Business Analyst  company changed
21                Product Designer  company changed
22               Robotics Engineer  company changed
23       Machine Learning Engineer  company changed
26           Cybersecurity Analyst  company changed
30            AI Ethics Specialist  company changed
47                 Product Analyst  company changed
50       Cloud Security Specialist  company changed
55                     Design Lead  company changed
65                 Operations Lead  company changed
84              Healthcare Analyst  company changed
123  Business Intelligence Analyst  company changed
124             Investment Analyst     role changed
138   Data Infrastructure Engineer     role changed

In [13]:
new_dataset = new_dataset.reset_index(drop=True)
new_dataset.index = new_dataset.index + 1

In [14]:
new_dataset.columns=["Email", "Company (Location)", "Position", "Status"]

In [15]:
print(new_dataset)

                     Email             Company (Location)  \
1         chris.p@apex.com        Apex Solutions (Dublin)
2     sophia.t@everest.com    Everest Consulting (Zurich)
3    victoria.n@lumina.com      Lumina Designs (New York)
4        mark.d@fusion.com        Fusion Robotics (Tokyo)
5      paula.s@quantum.com         Quantum AI (Singapore)
6       brian.c@altair.com      Altair Security (Chicago)
7      rachel.p@cypher.com             Cypher AI (London)
8     hailey.d@monarch.com    Monarch Industries (London)
9        colin.b@astro.com          Astro Cloud (Chicago)
10      ariana.l@polar.com        Polar Studios (Toronto)
11   sienna.b@crescent.com  Crescent Solutions (New York)
12    logan.k@serenity.com       Serenity Health (London)
13       laura.d@avant.com              Avant BI (London)
14    julian.h@maxwell.com  Maxwell Investments (Toronto)
15  tristan.h@datacore.com              DataCore (Boston)

                         Position           Status
1           IT Support Specialist  company changed
2                Business Analyst  company changed
3                Product Designer  company changed
4               Robotics Engineer  company changed
5       Machine Learning Engineer  company changed
6           Cybersecurity Analyst  company changed
7            AI Ethics Specialist  company changed
8                 Product Analyst  company changed
9       Cloud Security Specialist  company changed
10                    Design Lead  company changed
11                Operations Lead  company changed
12             Healthcare Analyst  company changed
13  Business Intelligence Analyst  company changed
14             Investment Analyst     role changed
15   Data Infrastructure Engineer     role changed

In [17]:
new_dataset.to_csv(r"C:\Users\Narasimha\Downloads\changed_summary.csv", index=False)